DB_HOST="localhost"
DB_DATABASE="appointment_booking_system"
DB_USER="postgres"
DB_PASSWORD="12123"
DB_PORT=5432
NODE_ENV="development"
FIREBASE_SUPER_ADMIN_EMAIL="admin@gmail.com"
FIREBASE_SUPER_ADMIN_PASSWORD="a123456"
FIREBASE_CUSTOMER_EMAIL="customer@gmail.com"
FIREBASE_CUSTOMER_PASSWORD="c123456"
SERVER_PORT=3000
JWT_SECRET=04e738f0439bc7f780f4a17eb7a81e28c3765d341de156eadc2b7225c4ef9cf6
