DATABASE_DEPLOYMENT_URL="postgresql://neondb_owner:****************@ep-morning-paper-b1rhgsny-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_DEVELOPMENT_URL="postgresql://neondb_owner:****************@ep-raspy-water-b1goau40-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_PASSWORD="1213222323"
DB_PORT=5432
NODE_ENV="production"
FIREBASE_SUPER_ADMIN_EMAIL="hi@gmail.com"
FIREBASE_SUPER_ADMIN_PASSWORD="j0ded9d3h3"
FIREBASE_CUSTOMER_EMAIL="customer@gmail.com"
FIREBASE_CUSTOMER_PASSWORD="493843842"
SERVER_PORT=3000
SMTP_USER=amjadqaher@gmail.com
SMTP_PASSWORD="afkh aydh bmss teiy"
JWT_SECRET=a1aa25d278aa00aac43989fac57ea963a82605cd1d43199bebb798ada5e3b7b3
NEON_BRANCH=production
FRONTEND_DEVELOPMENT_URL=http://localhost:8080
FRONTEND_DEPLOYMENT=https://your-app.vercel.app